<ion-view id="page21" hide-nav-bar="hideNavigation" can-swipe-back="false">
    <ion-nav-bar class="bar-positive" align-title="center" ng-style="{'background-color': sectionColor}">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-chevron-left" ng-click="goBack()"style="color: #000"> Back</button>
        </ion-nav-buttons>
        <ion-nav-title>
            <label class="page-label page-title" style="color: #bad9b5;margin-top: 15px;">ABOUT</label>
        </ion-nav-title>
    </ion-nav-bar>
    
    <ion-content padding="true" class="has-header">
        <div class="page-content" style="text-align:center;margin-top: 4em;">
            <img src="img/logo.png"></img>
            
            <p style="margin-top: 4em;">Version 1.2</p>
            
            <p style="margin-top: 4em;">
            In Gratitude to Hashem <br/>
            <strong>Rabbi Roberto &amp; Margie Szerer</strong>
            </p>
        </div>
        
    </ion-content>
    <p style="position: absolute;bottom: 3em;width: 100%;text-align: center;">© Chayenu Inc.</p>
</ion-view>
