<ion-view id="page25" hide-nav-bar="hideNavigation" can-swipe-back="false">
    <ion-nav-bar class="bar-positive" align-title="center" ng-style="{'background-color': sectionColor}">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-chevron-left" ng-click="goBack()"style="color: #000"> Back</button>
        </ion-nav-buttons>
        <ion-nav-title>
            <label class="page-label page-title" style="color: #bad9b5;margin-top: 15px;">Default Settings</label>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <label class="item item-input item-select">
            <div class="input-label">
                When opening
                <br/>
                app to go
            </div>
            <select  ng-model="sectionType" ng-change="updateSectionType(sectionType)">
                <option ng-selected="selectedSectionType == 'specific_section'" value="specific_section">SpecificSection</option>
                <option ng-selected="selectedSectionType == 'left_off'" value="left_off">Where I left off</option>
                <option ng-selected="selectedSectionType == 'section_picker'" value="section_picker">Section picker</option>
            </select>
        </label>
        
        <label class="item item-input item-select" ng-show="isSpecificSection">
            <div class="input-label" style="font-size:12px;">
                Selected Section
            </div>
            <select ng-model="selectedSection" ng-change="update(selectedSection, '')">
                <option ng-repeat="item in sections" ng-selected="selectedItem == item.value" value="{{item.value}}***{{item.label}}***{{item.color}}">{{item.label}}</option>
            </select>
        </label>
        
        <div ng-show="isSectionPicker">
            <label class="item item-input">
                <div class="input-label" style="font-size:12px;">
                    Selected Section:
                </div>
                <div style="font-size:12px;">
                    {{selectedItemLabel}}
                </div>
            </label>
        </div>
        
        <ion-list ng-show="isSectionPicker" ng-model="selectedSection">
            <ion-item ng-repeat="item in sections" ng-selected="selectedSection == item.value" value="{{item.value}}" ng-click="update(item.value+'***'+item.label+'***'+item.color)" style="font-size:12px;padding-left:40px;">
                {{item.label}}
            </ion-item>
        </ion-list>
        
        <label class="item item-input item-select">
            <div class="input-label">
                When opening
                <br/>
                a section go to
            </div>
            <select  ng-model="dateType" ng-change="updateDateType(dateType)">
                <option ng-selected="selectedDateType == 'today'" value="today">Today</option>
                <option ng-selected="selectedDateType == 'left_off'" value="left_off">Where I left off</option>
            </select>
        </label>
        
    </ion-content>
</ion-view>
                                                                                        