<ion-view title="Hayom Yom - June 10, 2016" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="hayomYomJune102016-button-bar8" class=" button-bar ">
            <button id="hayomYomJune102016-button22" class=" button button-light  button-block icon-left ion-android-arrow-back ">Yesterday</button>
            <button id="hayomYomJune102016-button24" class=" button button-light  button-block icon-right ion-android-arrow-forward ">Tomorrow</button>
        </div>
        <div>
            <meta charset="UTF-8">
            <div style="text-align:center;">
                יום חמישי כו תמוז ה’תש”ג
                <br>שיעורים. חומש: מטו"מ, חמישי עם פירש"י. תהלים: קיט, מה...לא שכחתי. תניא: והאיך...בתשובה כנודע.
            </div>

            <br>
            <div style="text-align:right;font-size:20px;line-height:150%" dir="rtl">אִין לעֶרנעֶן אִיז דִי אִיבּעֶרגעֶגעֶבּעֶנקַייט פון מעֶנטְשׁעֶן צוּ אַ זאַך, וועֶלכעֶ עֶר וִויל פאַרשְׁטֵיין אוּן פאַרְשְׁטֵייט. אִין דאַוונעֶן אִיז דִי אִיבּעֶגעֶגעֶבּעֶנקַייט צוּ העֶכעֶר וִוי פאַרשְׁטאַנד.

                <br>
                <br>אִין לעֶרנעֶן תּוֹרָה פִילט זִיךְ אַ אִיד וִוי אַ תַּלְמִיד בּאַ אַ רֶבִּי’ן, אִין דאַוְונעֶן - וִוי אַ קִינד בּאַ אַ פאָטעֶר.

            </div>

            <div style="clear:both"></div>
            <br>
            <p style="font-size:18px;line-height:150%">In Torah-study the person is devoted to the subject that he wishes to understand and comes to understand. In
                <i>davening</i>(prayer) the devotion is directed to what surpasses understanding.</p>

            <p style="font-size:18px;line-height:150%">In learning Torah the Jew feels like a pupil with his master; in davening - like a child with his father.</p>
        </div>
        <div id="hayomYomJune102016-button-bar9" class=" button-bar ">
            <button id="hayomYomJune102016-button25" class=" button button-light  button-block icon-left ion-android-share-alt ">Share</button>
            <button id="hayomYomJune102016-button27" class=" button button-light  button-block icon-left ion-android-star ">Favorite</button>
        </div>
    </ion-content>
</ion-view>