<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <span ng-repeat="row in sectionData" ng-if="row.weekly==0" id="menu-list-item1">
                    <ion-item  menu-close="" ui-sref="menu.chumashJune102016({section_name: '{{row.title}}', section_copyright: '{{row.copyright}}', section_color: '{{row.color}}', section_id: '{{row.ID}}', day: '{{(row.date) || todays_date}}'})">
                        <label class="section-color" ng-style="{'background-color': row.color}"></label>
                        {{row.title}}
                    </ion-item>
                </span>
                <span ng-repeat="row in sectionData" ng-if="row.weekly == 1"  id="menu-list-item1">
                    <ion-item  menu-close="" ui-sref="menu.weekly({section_name: '{{row.title}}', section_copyright: '{{row.copyright}}', section_color: '{{row.color}}', section_id: '{{row.ID}}', day: '{{(row.date) || todays_date}}'})">
                        <label class="section-color" ng-style="{'background-color': row.color}"></label>
                        {{row.title}}
                    </ion-item>
                </span>
                <ion-item class="item-icon-left" menu-close ui-sref="menu.setting"><i class="icon ion-android-settings"></i>Settings</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>