<ion-view title="Rambam - June 10, 2016" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="rambamJune102016-button-bar10" class=" button-bar ">
            <button id="rambamJune102016-button28" class=" button button-light  button-block icon-left ion-android-arrow-back ">Yesterday</button>
            <button id="rambamJune102016-button30" class=" button button-light  button-block icon-right ion-android-arrow-forward ">Tomorrow</button>
        </div>
        <div>
            <meta charset="UTF-8">
            <table cellpadding="10" cellspacing="10">
                <tbody>
                    <tr>
                        <td width="43%">
                            <h2>Chapter fifteen</h2>
                        </td>
                        <td width="4%"></td>
                        <td width="43%" style="text-align:right">
                            <h2>פֶּרֶק חֲמִשָּׁה עָשָׂר</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;font-size:16px;">
                            1 [The following laws apply when] a functional window was closed entirely or closed to the extent that less than a handbreadth [by a handbreadth] remained. If it was closed with an entity that intervenes in the face of ritual impurity it is considered
                            as closed, provided it is an entity that [the owner] does not intend to move.
                        </td>
                        <td></td>
                        <td style="text-align:right;vertical-align:top;font-size:20px;line-height:150%" dir="rtl">
                            א חַלּוֹן תַּשְׁמִישׁ שֶׁסְּתָמָהּ כֻּלָּהּ, אוֹ סְתָמָהּ עַד שֶׁנִּשְׁאַר בָּהּ פָּחוֹת מִטֶּפַח, אִם בְּדָבָר הַחוֹצֵץ בִּפְנֵי הַטֻּמְאָה סָתַם, הֲרֵי זֶה חוֹצֵץ. וְהוּא, שֶׁיִּהְיֶה דָּבָר שֶׁאֵין דַּעְתּוֹ לְפַנּוֹתוֹ.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height:15px;"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;font-size:16px;">
                            Therefore if he closed a window or reduced its size with foods that were not made susceptible to contract ritual impurity, they do not intervene. Even though they are not susceptible to ritual impurity and they are pure, his intent is to move them.
                        </td>
                        <td></td>
                        <td style="text-align:right;vertical-align:top;font-size:20px;line-height:150%" dir="rtl">
                            לְפִיכָךְ, אִם סָתַם הַחַלּוֹן אוֹ מִעֲטוֹ בְּאֹכָלִין שֶׁאֵינָן מֻכְשָׁרִין, אֵינָן חוֹצְצִין; שֶׁאַף עַל פִּי שֶׁאֵין מְקַבְּלִין טֻמְאָה, וַהֲרֵי הֵן טְהוֹרִין, דַּעְתּוֹ לְפַנּוֹתָן.

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="rambamJune102016-button-bar11" class=" button-bar ">
            <button id="rambamJune102016-button31" class=" button button-light  button-block icon-left ion-android-share-alt ">Share</button>
            <button id="rambamJune102016-button33" class=" button button-light  button-block icon-left ion-android-star ">Favorite</button>
        </div>
    </ion-content>
</ion-view>