<ion-view id="page201">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            <label class="page-label page-title" style="color: #bad9b5;margin-top: 15px;">SETTINGS</label>
        </ion-nav-title>
    </ion-nav-bar>
    
    <ion-content padding="true" class="has-header" style="background-color: #f8f8f8;">
        <ion-list>
            <ion-item ui-sref="menu.about()" menu-close="" class="">
                About
                <i class="ion-chevron-right" style="float:right;color: #dddddd;"></i>
            </ion-item>
            <ion-item ui-sref="menu.font_size()" menu-close="" class="">
                Text Size
                <i class="ion-chevron-right" style="float:right;color: #dddddd;"></i>
            </ion-item>
            <ion-item ui-sref="menu.default_settings()" menu-close="" class="">
                Default Settings
                <i class="ion-chevron-right" style="float:right;color: #dddddd;"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
