<ion-view id="page201">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: #555555;"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            <label class="page-label page-title" style="color: #555555;margin-top: 15px;">SETTINGS</label>
        </ion-nav-title>
    </ion-nav-bar>
    
    <ion-content padding="true" class="has-header" style="background-color: #f8f8f8;">
        <ion-list>
            <ion-item ui-sref="menu.about()" menu-close="" class="">
                About
                <i class="ion-chevron-right" style="float:right;color: #dddddd;"></i>
            </ion-item>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Text Size
                </div>
                <select  ng-model="selectedFontsize" ng-change="updateFontsize(selectedFontsize)">
                    <option ng-repeat="item in font_sizes" ng-selected="selectedFontsize == item.value" value="{{item.value}}">{{item.label}}</option>
                </select>
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    When opening app to go
                </div>
                <select  ng-model="selectedSectionType" ng-change="updateSectionType(selectedSectionType)">
                    <option ng-repeat="item in specific_section_options" ng-selected="selectedSectionType == item.value" value="{{item.value}}">{{item.label}}</option>
                </select>
            </label>
            
            <label class="item item-input item-select" ng-show="isSpecificSection">
                <div class="input-label" style="font-size:12px;">
                    Selected Section
                </div>
                <select ng-model="section_item" ng-change="updateSectionID(section_item)">
                    <option ng-repeat="item in sections" ng-selected="selectedSectionID == item.value" value="{{item.value}}***{{item.label}}***{{item.color}}***{{item.weekly}}">{{item.label}}</option>
                </select>
            </label>
            
            <div ng-show="isSectionPicker">
                <label class="item item-input">
                    <div class="input-label" style="font-size:12px;">
                        Selected Section
                    </div>
                    <div style="font-size:12px;">
                        {{selectedItemLabel}}
                    </div>
                </label>
            </div>
            
            <ion-list ng-show="isSectionPicker" ng-model="selectedSection">
                <ion-item ng-repeat="item in sections" ng-selected="selectedSectionID == item.value" value="{{item.value}}" ng-click="updateSectionID(item.value+'***'+item.label+'***'+item.color+'***'+item.weekly)" style="font-size:12px;padding-left:40px;">
                    {{item.label}}
                </ion-item>
            </ion-list>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    When opening a section go to
                </div>
                <select  ng-model="selectedDateType" ng-change="updateDateType(selectedDateType)">
                    <option ng-repeat="item in selected_date_type_options" ng-selected="selectedDateType == item.value" value="{{item.value}}">{{item.label}}</option>
                </select>
            </label>
            
        </ion-list>
    </ion-content>
</ion-view>
